{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@next/next/recommended", // NextJS Specific
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn", // because I'm lazy
      {
        "allowHigherOrderFunctions": true,
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/prop-types": "off",
    // NextJS Specific
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files (for next.js project)
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }] //should add ".ts" if typescript project
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
