node_modules/
storybook-static/
build/
dist/
.next/
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.vercel

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
projects/portfolio/out/
